.tab{
	display: none;
	width: 100%;
	height: 50%;
	margin: 0px auto;
}

.current{
	display: block;
}

button {
	transition: all .35s ease-in-out;
	background-color: site-color('primary');
	border-radius: 3px;
	color: #ffffff; 
	border: none;
	margin-left: 20px;
	padding: 5px 10px; 
	font-size: 17px;
	cursor: pointer; 

  &:hover {
		background-color: site-color('midnight');
	}
}