.product-hero {
	background-color: lighten(site-color('night'), 93);

	.col-left {
		.product-name {
			font-size: 1.65em;
			margin: 0 0 20px;
		} // .product-name

		.open-intro {
			margin-bottom: 20px;
		} // .open-intro
	} // .col-left

	.col-right {
		background: image("latitudeBG.jpg") center center/cover no-repeat;
		margin-bottom: 20px;

		&.optiplex {
			background: image("optiplex.jpg") center bottom/cover no-repeat;
			margin-bottom: 20px;
		} // .precision

		&.precision {
			background: image("precision.jpg") center bottom/cover no-repeat;
			margin-bottom: 20px;
		} // .precision

		&.unified {
			background: image("unified.jpg") 20% center/cover no-repeat;
			padding-top: 50%;
			position: relative;

			.product-rotate {
				@include translate(-50%, -30%);
				position: absolute;
				top: 30%;
				left: 50%;
				width: 85%;
			} // .product-rotate

			.product-cta {
				ul {
					justify-content: flex-start;
				} // ul

				.whitebtn {
					border: 1px solid site-color('day');

					a {
						color: site-color('day');
					} // a

					&:hover {
						border: 1px solid site-color('primary');
					} // :hover
				} // .whitebtn
			} // .product-cta

			.slogan {
				color: site-color('day');
				margin-left: 10px;
			} // .slogan
		} // .unified
	} // .col-right

	.product-cta {
		padding-bottom: 10px;

		ul {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 10px;

			li {
				flex: 0 0 40%;
				margin: 10px;
				text-align: center;

				&.home {
					margin: 10px 10px 0 10px;

					img {
						width: 40px;
					} // img
				} // .home

				&:nth-child(3) {
					flex-basis: auto;
					width: 87%;
				} // nth-child(3)

				&.bluebtn {
					a {
						color: site-color('day');
					} // a
				} // .bluebtn
			}
		} // ul
	} // .product-cta

	.slogan {
		margin: 0 0 10px;
		text-align: right;
	} // .slogan

	@include retina(iPhonel) {
		.container {
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
		} // .container

		.col-left {
			flex: 1 0 40%;
			margin-right: 30px;
			overflow: hidden;
		} // .col-left

		.col-right {
			flex: 1 0 45%;
			overflow: hidden;
		} // .col-right
	} // retina(iPhonel)

	@include breakpoint($tablet) {
		.container {
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
		} // .container

		.col-left {
			flex: 1 0 30%;
			margin-right: 30px;
			overflow: hidden;
		} // .col-left

		.col-right {
			flex: 3 0 60%;
			overflow: hidden;

			&.unified {
				.product-rotate {
					@include translate(-50%, -40%);
					top: 40%;
					left: 50%;
				} // .product-rotate
			} // .unified
		} // .col-right

		.product-cta {
			ul {
				li {
					flex: auto;
				} // li
			} // ul
		} // .product-cta 
	} // breakpoint($tablet)
} // .product-hero